<div class="modal-header">
</div>
<div class="modal-body">
  <h4  *ngIf="file.name">{{ file.name }} </h4>
  <div class="instructions">
    <small>
      Choose the correct and corresponding sheet name from the dropdown menu below and then click Submit. <br>
      We take care of the rest!
    </small>
  </div>
  <span *ngIf="workbook">
    <div *ngIf="isProcessing">Processing File <app-tiny-spinner></app-tiny-spinner>  </div>
      <div class="row max-height-five-hundred scrollable">
        <div *ngFor="let sheetName of workbook.SheetNames">
        <form class="form-inline margin-left-10">
      <div class="form-group">
        <label> <strong> Current Sheet Name: {{ sheetName }}</strong></label>
         <span class="ion ion-code"></span>
        <select class="form-control  margin-left-5" (change)="handleSheetNameChanged(sheetName, sheetNameAlias[sheetName])"
                name="sheetName-{{ sheetName }}" id="sheetName-{{ sheetName }}"
                [(ngModel)]="sheetNameAlias[sheetName]"
                placeholder="Please select sheet name"
                required>
          <option value="" disabled>Please select sheet name</option>
          <option [ngValue]="sheet" *ngFor="let sheet of sheetNameOptions"
                  [ngClass]="{  'selected': sheet === sheetNameAlias[sheetName]}">{{ sheet }}</option>
        </select>
      </div>
    </form>
      </div>
     </div>
  </span>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>
</div>
