.pull-right{
  float: right;
}

.pull-left{
  float: left;
}
hr{
  margin: 0px !important;
}

.large-font{
  font-size: 18px !important;
}

.padding-left-15{
  padding-left: 15px !important;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  text-align: center;
  padding: 5px 0px !important;
  height: 80px !important;
  /*margin-left: 10px;*/
}

.drop-box.dragover {
  border: 5px dashed #3c763d;
}

.ta-center{
  text-align: center !important;
}
.modal-body {
  margin: 0 auto;
  text-align: center;
}

.drag-text {
  color: #D1D1D1;
}


h4 {
  text-align: center;
  margin: 0 auto;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dashboard-container{
  margin-left: -5% !important;
  width: 120% !important;
}
.detail-container{
  margin-left: -5% !important;
  width: 120% !important;
}
.cell {
  width: 200px;
  display: inline-block;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.go {
  background-color: green;
}

.asset-existing-fields-preview-table {
  max-height: 650px;
  overflow-y: auto;
}

.tiny-spinner {
  text-align: center;
  display: inline-flex;
  vertical-align: bottom;
  padding-left: 3px;
}

.tiny-spinner div {
  width: 6px;
  height: 6px;
  background-color: lightcoral;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.tiny-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.tiny-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.file-section-cell{
  display: block;
  height: 50px;
}

.margin-15 {
  margin: 15px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}
.margin-top-20 {
  margin-top: 20px;
}

.pad-left-10 {
  padding-left: 10px;
}

.pad-top-20{
  padding-top: 20px;

}

.asset-list-container {
  width: 100%;
  overflow-x: scroll;
}

.maincontainer {
  max-width: 1000px;
}

.field-match-container {
  max-height: 450px;
  overflow-y: scroll;
}

.loan-preview-table-container td {
  border: 1px solid #a94442 !important;
}

.asset-view-table-container {
  width: 1340px;
}

.parse-assets-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 99999;
}

table td.selected, table tr.selected td {
  background: bisque;
}

.asset-table  {
  float: left;
  display: inline-block;
  border: 1px solid #ddd !important;
}

.asset-table > .asset-table-body > .data-row:nth-of-type(odd) {
  background-color: #f9f9f9
}

.asset-table > .asset-table-body > .data-row:hover {
  background-color: #f5f5f5
}
.header-row{
  display: inline-block;
  border: 1px solid #ddd ;
  background-color:  #D9D9D9;
}

.header-col{
  display: inline-block;
  float: left;
  height: 30px;
  padding: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.data-row{
  display: inline-block;
  width: 100%;
  overflow: hidden;

}

.data-col{
  display: inline-block;
  float: left;
  height: 30px;
  padding:3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollable {
  overflow: auto;
}

.justified-row {
  display: table;
  width: 100%;
  border-collapse: collapse;

}

.justified-col {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
}

.width-50 {
  display: inline-block;
  width: 50px !important;
}
.width-100 {
  display: inline-block;
  width: 100px !important;
}

.width-150 {
  display: inline-block;
  width: 150px !important;
}

.width-200 {
  display: inline-block;
  width: 200px !important;
}

.width-250 {
  display: inline-block;
  width: 250px !important;
}

.width-300 {
  display: inline-block;
  width: 300px !important;
}

.row .col-perc, .row .col-perc-2, .row .col-perc-5, .row .col-perc-6, .row .col-perc-8, .row .col-perc-9, .row .col-perc-10, .row .col-perc-11, .row .col-perc-12, .row .col-perc-13, .row .col-perc-14, .row .col-perc-15, .row .col-perc-16, .row .col-perc-17, .row .col-perc-20, .row .col-perc-22, .row .col-perc-23, .row .col-perc-24, .row .col-perc-25, .row .col-perc-26, .row .col-perc-27, .row .col-perc-28, .row .col-perc-30, .row .col-perc-33, .row .col-perc-34, .row .col-perc-35, .row .col-perc-39, .row .col-perc-40, .row .col-perc-45, .row .col-perc-46, .row .col-perc-47, .row .col-perc-48, .row .col-perc-50, .row .col-perc-52, .row .col-perc-55, .row .col-perc-60, .row .col-perc-65, .row .col-perc-66, .row .col-perc-70, .row .col-perc-73, .row .col-perc-74, .row .col-perc-75, .row .col-perc-80, .row .col-perc-85, .row .col-perc-90, .row .col-perc-100, .row .col {
  float: left;
}

.row .col-perc:first-child, .row .col-perc-2:first-child, .row .col-perc-5:first-child, .row .col-perc-6:first-child, .row .col-perc-8:first-child, .row .col-perc-9:first-child, .row .col-perc-10:first-child, .row .col-perc-11:first-child, .row .col-perc-12:first-child, .row .col-perc-13:first-child, .row .col-perc-14:first-child, .row .col-perc-15:first-child, .row .col-perc-16:first-child, .row .col-perc-17:first-child, .row .col-perc-20:first-child, .row .col-perc-22:first-child, .row .col-perc-23:first-child, .row .col-perc-24:first-child, .row .col-perc-25:first-child, .row .col-perc-26:first-child, .row .col-perc-27:first-child, .row .col-perc-28:first-child, .row .col-perc-30:first-child, .row .col-perc-33:first-child, .row .col-perc-34:first-child, .row .col-perc-35:first-child, .row .col-perc-39:first-child, .row .col-perc-40:first-child, .row .col-perc-45:first-child, .row .col-perc-46:first-child, .row .col-perc-47:first-child, .row .col-perc-48:first-child, .row .col-perc-50:first-child, .row .col-perc-52:first-child, .row .col-perc-55:first-child, .row .col-perc-60:first-child, .row .col-perc-65:first-child, .row .col-perc-66:first-child, .row .col-perc-70:first-child, .row .col-perc-73:first-child, .row .col-perc-74:first-child, .row .col-perc-75:first-child, .row .col-perc-80:first-child, .row .col-perc-85:first-child, .row .col-perc-90:first-child, .row .col-perc-100:first-child, .row .col:first-child {
  padding-left: 0;
}

.row .col-perc-2 {
  width: 2%;
}

.row .col-perc-5 {
  width: 5%;
}

.row .col-perc-6 {
  width: 6%;
}

.row .col-perc-8 {
  width: 8%;
}

.row .col-perc-9 {
  width: 9%;
}

.row .col-perc-10 {
  width: 10%;
}

.row .col-perc-11 {
  width: 11%;
}

.row .col-perc-12 {
  width: 12%;
}

.row .col-perc-13 {
  width: 13%;
}

.row .col-perc-14 {
  width: 14%;
}

.row .col-perc-15 {
  width: 15%;
}

.row .col-perc-16 {
  width: 16%;
}

.row .col-perc-17 {
  width: 17%;
}

.row .col-perc-20 {
  width: 20%;
}

.row .col-perc-22 {
  width: 22%;
}

.row .col-perc-23 {
  width: 23%;
}

.row .col-perc-24 {
  width: 23%;
}

.row .col-perc-25 {
  width: 25%;
}

.row .col-perc-26 {
  width: 26%;
}

.row .col-perc-27 {
  width: 27%;
}

.row .col-perc-28 {
  width: 28%;
}

.row .col-perc-30 {
  width: 30%;
}

.row .col-perc-33 {
  width: 33%;
}

.row .col-perc-34 {
  width: 34%;
}

.row .col-perc-35 {
  width: 34%;
}

.row .col-perc-39 {
  width: 39%;
}

.row .col-perc-40 {
  width: 40%;
}

.row .col-perc-45 {
  width: 45%;
}

.row .col-perc-46 {
  width: 46%;
}

.row .col-perc-47 {
  width: 47%;
}

.row .col-perc-48 {
  width: 48%;
}

.row .col-perc-50 {
  width: 50%;
}

.row .col-perc-52 {
  width: 52%;
}

.row .col-perc-55 {
  width: 55%;
}

.row .col-perc-60 {
  width: 60%;
}

.row .col-perc-65 {
  width: 65%;
}

.row .col-perc-66 {
  width: 66%;
}

.row .col-perc-70 {
  width: 70%;
}

.row .col-perc-73 {
  width: 73%;
}

.row .col-perc-74 {
  width: 74%;
}

.row .col-perc-75 {
  width: 75%;
}

.row .col-perc-80 {
  width: 80%;
}

.row .col-perc-85 {
  width: 85%;
}

.row .col-perc-90 {
  width: 90%;
}

.row .col-perc-100 {
  width: 100%;
}


.pointer {
  cursor: pointer;
}
.bordered{
  border:1px solid gray;
}

.available-service-container {
  margin: 0 auto !important;
  text-align: center !important;
}

.available-service-container .alert{
  padding: 5px;
  margin: 5px;
}

.max-height-five-hundred {
  max-height: 500px;
}
